<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/Fab/vidi/ViewHelpers">

	<f:section name="EditForm">
		<f:form name="selection"
		        object="{selection}"
		        controller="Selection"
		        action="update"
		        method="post"
		        class="form-horizontal"
		        arguments="{dataType: '{v:moduleLoader(key: \'dataType\')}'}">

			<f:form.hidden property="query" class="selection-query"/>
			<f:form.hidden property="speakingQuery" class="selection-speakingQuery"/>
			<div class="modal-selection-column-1">
				<f:form.select class="form-control-selection" property="visibility" options="{v:selection.visibilityOptions()}"/>
			</div>
			<div class="modal-selection-column-2">
				<f:form.textfield class="form-control-selection" property="name" title="{selection.speakingQuery}"/>

				<f:link.action
						title="{f:translate(key: 'selection.update')}"
						class="btn-selection-update"
						controller="Selection"
						action="update"
						style="visibility: hidden"
						arguments="{dataType: '{v:moduleLoader(key: \'dataType\')}'}">
					<v:sprite name="actions-document-save"/></f:link.action>

				<f:link.action
						title="{f:translate(key: 'delete')}"
						class="btn-selection-delete"
						controller="Selection"
						action="delete"
						arguments="{selection: '{selection.uid}'}">
					<v:sprite name="actions-edit-delete"/></f:link.action>

				<f:link.action
						title="{f:translate(key: 'query.update')}"
						class="btn-selection-speakingQuery"
						controller="Selection"
						action="update"
						arguments="{selection: '{selection.uid}'}">
					<v:sprite name="extensions-vidi-query"/></f:link.action>
			</div>
		</f:form>
	</f:section>
</div>