<f:form action="update" controller="Content" id="form-edit" method="post"
        arguments="{fieldNameAndPath: '{fieldNameAndPath}', matches: '{matches}'}">

	<!-- additional parameters -->
	<f:form.hidden name="dataType" value="{dataType}"/>

	<!-- @todo display records in two flex columns if many records or display with indentation if tree widget is configured? -->
	<div class="control-group create-one">

		<h5 class="modal-title">
			<f:if condition="{editWholeSelection}">
				<f:then>
					<f:translate key="update_all" arguments="{0: '{numberOfObjects}'}"/>
				</f:then>
				<f:else>
					<f:if condition="{numberOfObjects} > 1">
						<f:then>
							<f:translate key="update_selected_rows" arguments="{0: '{numberOfObjects}'}"/>
						</f:then>
						<f:else>
							<f:translate key="update_selected_row"/>
						</f:else>
					</f:if>
				</f:else>
			</f:if>
		</h5>

		<hr/>

		<f:if condition="{numberOfObjects} > 300">
			<div class="alert">
				<strong>
					<f:translate key="attention"/>
				</strong>
				<f:translate key="editing_many_rows_takes_time"/>
			</div>
		</f:if>

		<input type="hidden" name="sSearch" value="{v:GP(argument: 'sSearch')}" />
		<f:render section="{fieldType}" partial="Edit/{fieldType}" arguments="{_all}"/>

	</div>

	<!-- HIDDEN SUBMIT BUTTON -->
	<input type="submit" style="visibility: hidden; height: 1px">
</f:form>
{namespace v=TYPO3\CMS\Vidi\ViewHelpers}