<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/TYPO3/CMS/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="navbar navbar-fixed-top">
		<div id="navbar-main">
			<div class="container-fluid navbar-typo3-top">
				<div class="row-fluid">
					<div class="span6">
						{v:render.components(part: 'docHeaderTopLeft')}
					</div>
					<div class="span6">
						{v:render.components(part: 'docHeaderTopRight')}
					</div>
				</div>
			</div>
			<div class="container-fluid navbar-typo3-bottom">
				<div class="row-fluid">
					<div class="span6">
						{v:render.components(part: 'docHeaderBottomLeft')}
					</div>
					<div class="span6 toolbar-right">

						<a href="#" class="btn-reload">
							<v:sprite name="actions-system-refresh" />
						</a>

						<div class="btn-group pull-right" style="margin-top: 1px;">
							<a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#" style="padding: 0 4px;">
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<f:for each="{columns}" key="columnName" as="configuration" iteration="iterator">
									<li>
										<f:if condition="{v:grid.column.canBeHidden(name: '{columnName}')}">
											<label class="checkbox inline">
												<f:if condition="{v:grid.column.isVisible(name: '{columnName}')}">
													<f:then>
														<input class="check-visible-toggle" type="checkbox" name=""
														       value="{iterator.index}"
														       checked="checked"/>
													</f:then>
													<f:else>
														<input class="check-visible-toggle" type="checkbox" name=""
														       value="{iterator.index}"/>
													</f:else>
												</f:if>
												<v:grid.column.title />
											</label>
										</f:if>
									</li>
								</f:for>
							</ul>
						</div>
						{v:render.components(part: 'docHeaderBottomRight')}
					</div>
				</div>
			</div>
		</div>
		<div id="navbar-sub" class="navbar-typo3 ajax-response-header" style="display: none"></div>
	</div>

	<f:flashMessages/>

	<div class="centered flash-message container"></div>

	<div id="container-main">
		<div id="container-main-top" style="width: 99%">

			{v:render.components(part: 'gridTop')}

			<span style="display: none">
				<f:link.action id="link-facet-suggest" controller="Facet" action="suggest" format="json"/>
			</span>

			<table class="table table-striped table-hover typo3-dblist"
			       id="content-list">
				<thead>
				<tr class="t3-row-header">
					<f:for each="{columns}" key="columnName" as="configuration">
						<th>
							<f:if condition="{v:grid.column.header(name: '{columnName}')}">
								<f:then>
									<f:format.raw>{v:grid.column.header(name: '{columnName}')}</f:format.raw>
								</f:then>
								<f:else>
									<v:grid.column.title />
									<f:if condition="{v:grid.column.isEditable(name: '{columnName}')}">
										<f:link.action action="edit"
										               class="mass-edit {f:if(condition: '{v:grid.column.hasRelation()}', then: 'mass-edit-relation', else: 'mass-edit-scalar')}"
										               arguments="{fieldNameAndPath: '{v:grid.column.fieldName()}'}"
										               style="opacity: 0">
											<v:sprite name="actions-document-open" />
										</f:link.action>
									</f:if>
								</f:else>
							</f:if>
						</th>
					</f:for>
				</tr>
				</thead>
				<tbody/>
				<tfoot>
				<tr>
					<th colspan="30">
						<div class="btn-group dropup">
							<a class="btn dropdown-toggle mass-action-label" data-toggle="dropdown" href="#"
							   onclick="return false">
								[mass action label]
							</a>
							<ul class="dropdown-menu mass-action-items">
								{v:render.components(part: 'menuMassAction')}
							</ul>
						</div>
					</th>
				</tr>
				</tfoot>
			</table>

			{v:render.components(part: 'gridBottom')}
		</div>

		<div id="container-main-sub" class="ajax-response-body container" style="display: none">
			<div class="container" style="text-align: center">
				<f:image src="{f:uri.resource(path:'Images/loading.gif')}" alt=""/>
			</div>
		</div>
	</div>
	<div id="footer" class="ajax-response-footer"></div>

</f:section>
</html>
