<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers">

	<f:section name="List">

		<div id="selection-list" class="btn-group btn-selection-list">
			<a id="btn-selection-expand-list" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" href="#">
				<span class="caret"></span>
			</a>
			<ul id="menu-selection-list" class="dropdown-menu">

				<f:for each="{selections}" as="selection" iteration="iterator">
					<li>
						<a href="#" class="btn-change-filter" title="{selection.speakingQuery}">
							<span class="icon-filter"></span>
							{selection.name}
						</a>
						<span style="display: none">{selection.speakingQuery}</span>
					</li>
				</f:for>

				<li role="separator" class="divider"></li>
				<li>
					<a href="#" class="btn-selection-edit">
						<span class="icon-cog"></span>
						<f:translate key="manage_selections"/>
					</a>
				</li>
			</ul>
		</div>
	</f:section>
</div>