<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

	<f:section name="Multiselect">

		<div class="control-group hidden" style="margin-bottom: 20px">
			<div>
				<strong>
					Saving behavior
				</strong>
			</div>
			<label class="radio inline">
				<f:form.radio id="savingBehaviorRemove" name="savingBehavior" value="remove"/>
				<f:translate key="remove_relation"/>
			</label>
			<label class="radio inline">
				<f:form.radio id="savingBehaviorAppend" name="savingBehavior" value="append"/>
				<f:translate key="append_relation"/>
			</label>
			<label class="radio inline">
				<f:form.radio id="savingBehaviorReplace" name="savingBehavior" value="replace" checked="true"/>
				<f:translate key="replace_relation"/>
			</label>
		</div>

		<div style="margin-bottom: 10px">
			<strong>
				<f:format.raw>
					<v:sprite name="{v:tca.table(key: \"typeicon_classes|default\", dataType: \"{relatedDataType}\")}"/>
					{relatedContentTitle}
				</f:format.raw>
			</strong>
		</div>

		<div class="controls">
			<f:form.checkbox name="content[{fieldName}][]" value="" style="display: none"/>
			<f:if condition="{renderMode}">
				<f:then>
					<f:render section="{renderMode}" arguments="{relatedContents: relatedContents, fieldName:fieldName, content:content, numberOfObjects:numberOfObjects}" />
				</f:then>
				<f:else>
					<ul class="list-unstyled relation-list">
						<f:for each="{relatedContents}" as="relatedContent">
							<li>
								<label>
									<f:form.checkbox name="content[{fieldName}][]" value="{relatedContent.uid}" checked="{v:isRelatedTo(relatedContent: '{relatedContent}')}"/>
									<v:tca.title content="{relatedContent}"/>
								</label>
							</li>
						</f:for>
					</ul>
				</f:else>
			</f:if>
		</div>

	</f:section>

	<f:section name="tree">
		<ul class="relation-list tree-list">
			<f:for each="{relatedContents}" as="relatedContent">
				<li title="uid: {relatedContent.item.uid}">
					<label>
						<f:form.checkbox name="content[{fieldName}][]" value="{relatedContent.item.uid}" checked="{v:isRelatedTo(relatedContent: '{relatedContent.item}')}"/>
						<v:tca.title content="{relatedContent.item}"/>
					</label>

					<f:if condition="{relatedContent.children}">
						<f:render section="tree" arguments="{relatedContents: relatedContent.children, fieldName:fieldName, content:content, numberOfObjects:numberOfObjects}" />
					</f:if>
				</li>
			</f:for>
		</ul>
	</f:section>
</div>
