<f:be.container pageTitle="Vidi" enableClickMenu="false" loadPrototype="false"
                 loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
                 includeCssFiles="{
		0:'{f:uri.resource(path:\'StyleSheets/bootstrap.css\')}',
		1:'{f:uri.resource(path:\'StyleSheets/bootstrap-responsive.css\')}',
		2:'{f:uri.resource(path:\'StyleSheets/bootstrap-datatables.css\')}',
		3:'{f:uri.resource(path:\'StyleSheets/JQueryUi/jquery-ui-1.10.1.custom.min.css\')}',
		4:'{f:uri.resource(path:\'StyleSheets/VisualSearch/visualsearch.css\')}',
		5:'{f:uri.resource(path:\'StyleSheets/vidi.css\')}'
	}"
                 includeJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/JQuery/jquery-1.11.2.min.js\')}'
		}">


	<v:be.assets />

	<script type="text/javascript">

		// Declare namespace
		window.Vidi = {};

		// "Live" variables in a Fluid syntax friendliness.
		Vidi.module = {};
		Vidi.module.publicPath = '{v:publicPath()}';
		Vidi.module.dataType = '{v:moduleLoader(key: "dataType")}';
		Vidi.module.parameterPrefix = '{v:parameterPrefix()}';
		Vidi.module.moduleUrl = '{v:moduleLoader(key: "moduleUrl") -> f:format.raw()}';
		Vidi.module.moduleCode = '{v:moduleLoader(key: "moduleCode")}';
		Vidi.module.grid = {};
		Vidi.module.grid.facets = {v:grid.facets()};
		Vidi.module.grid.suggestions = {v:grid.suggestions()};
		Vidi.module.table = {};
		Vidi.module.table.label = '{v:tca.table(key: "label")}';

		Vidi._columns = [];
		{v:grid.column.configuration()}

		// Just initialize variable with empty value.
		Vidi.icons = {}
	</script>

	<f:render section="main"/>

	<v:js name="JQuery/jquery-ui-1.10.1.custom.min.js"/>
	<v:js name="VisualSearch/underscore-1.4.3.js"/>
	<v:js name="VisualSearch/backbone-0.9.10.js"/>
	<v:js name="VisualSearch/visualsearch.js"/>

	<v:js name="JQuery/jquery.jeditable.js"/>
	<v:js name="JQuery/jquery.dataTables.min.js"/>
	<v:js name="JQuery/jquery.form.js"/>
	<v:js name="JQuery/jquery.dataTables.bootstrap.js"/>

	<v:js name="Bootstrap/bootstrap.min.js"/>
	<v:js name="Bootstrap/bootbox.min.js"/>
	<v:js name="Bootstrap/bootstrapx-clickover.js"/>

	<v:js name="Uri/Uri.min.js"/>
	<v:js name="String.js"/>
	<v:js name="Encoder.js"/>

	<v:js name="Vidi.js"/>
	<v:js name="Vidi.Edit.js"/>
	<v:js name="Vidi.EditInline.js"/>
	<v:js name="Vidi.Export.js"/>
	<v:js name="Vidi.FlashMessage.js"/>
	<v:js name="Vidi.Grid.js"/>
	<v:js name="Vidi.Label.js"/>
	<v:js name="Vidi.Panel.js"/>
	<v:js name="Vidi.Remove.js"/>
	<v:js name="Vidi.Response.js"/>
	<v:js name="Vidi.Session.js"/>
	<v:js name="Vidi.VisualSearch.js"/>

</f:be.container>
{namespace v=TYPO3\CMS\Vidi\ViewHelpers}

