<v:be.container pageTitle="Vidi" enableJumpToUrl="false" enableClickMenu="false" loadPrototype="false"
                 loadScriptaculous="false" loadExtJs="false" loadExtJsTheme="true"
                 includeCssFiles="{
		0:'{f:uri.resource(path:\'StyleSheet/bootstrap.css\')}',
		1:'{f:uri.resource(path:\'StyleSheet/bootstrap-responsive.css\')}',
		2:'{f:uri.resource(path:\'StyleSheet/vidi.css\')}',
		3:'{f:uri.resource(path:\'StyleSheet/bootstrap-datatables.css\')}',
		5:'{f:uri.resource(path:\'StyleSheet/JQueryUi/jquery-ui-1.10.1.custom.min.css\')}'
	}"
                 includeJsFiles="{
		0:'{f:uri.resource(path:\'JavaScript/JQuery/jquery-1.9.1.min.js\')}'
		}">


	<v:be.moduleResources />

	<script type="text/javascript">

		// Declare namespace
		window.Vidi = {};

		// "Live" variables taking into consideration Fluid parign which would be confused with a different syntax.
		Vidi.module = {};
		Vidi.module.publicPath = '{v:publicPath()}';
		Vidi.module.dataType = '{v:moduleLoader(property: "dataType")}';
		Vidi.module.parameterPrefix = '{v:parameterPrefix()}';
		Vidi.module.tca = {};
		Vidi.module.tca.ctrl = {};
		Vidi.module.tca.ctrl.label = '{v:tca.table(key: "label")}';

		Vidi._columns = [];
		{v:grid.column.configuration()}

		// Just initialize variable with empty value.
		Vidi.icons = {}
	</script>

	<f:render section="main"/>

	<v:js name="JQuery/jquery.dataTables.min.js"/>
	<v:js name="JQuery/jquery.form.js"/>
	<v:js name="JQuery/jquery.dataTables.bootstrap.js"/>

	<v:js name="Bootstrap/bootstrap.min.js"/>
	<v:js name="Bootstrap/bootbox.min.js"/>
	<v:js name="Bootstrap/bootstrapx-clickover.js"/>

	<v:js name="Uri/Uri.min.js"/>
	<v:js name="String.js"/>
	<v:js name="Encoder.js"/>

	<v:js name="Vidi.js"/>
	<v:js name="Vidi.Panel.js"/>
	<v:js name="Vidi.Table.js"/>
	<v:js name="Vidi.Action.js"/>
	<v:js name="Vidi.Session.js"/>
	<v:js name="Vidi.FlashMessage.js"/>
	<v:js name="Vidi.Label.js"/>

</v:be.container>
{namespace v=TYPO3\CMS\Vidi\ViewHelpers}

