/*
 * To be included in some general stylesheet
 */

html,
body {
	height: 97%;
	padding-top: 30px;
	background-color: #F8F8F8;
	/* padding-top because of the nav bar */
	/* height 97% because of the padding-top... */
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}

label, input, button, select, textarea {
    font-size: 12px;
}

.modal-body {
	background-color: #F8F8F8 !important;
    font-size: 12px;
}

.modal-body select,
.modal-body textarea,
.modal-body input[type="text"],
.modal-body input[type="password"],
.modal-body input[type="datetime"],
.modal-body input[type="datetime-local"],
.modal-body input[type="date"],
.modal-body input[type="month"],
.modal-body input[type="time"],
.modal-body input[type="week"],
.modal-body input[type="number"],
.modal-body input[type="email"],
.modal-body input[type="url"],
.modal-body input[type="search"],
.modal-body input[type="tel"],
.modal-body input[type="color"],
.modal-body .uneditable-input {
	font-size: 11px;
	padding: 1px;
	vertical-align: middle;
	height: 20px;
}

.modal-body .control-group {
	margin-bottom: 0;
}

.popover-title {
    font-size: 12px;
    font-weight: bold;
}

.relation-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.relation-list li {
    line-height: 16px;
}

.relation-list label {
    line-height: 16px;
    margin-bottom: 0;
}

.relation-list input[type="checkbox"] {
    margin: 0 7px 0 0;
}

/* @todo include these styles into Scss and re-generate Css */
/* Override Bootstrap CSS */
.dropdown-menu .divider {
	height: 0;
	margin: 0;
	overflow: hidden;
	background-color: transparent;
	border-bottom: 1px solid #cdcdcd;
}

.btn-group>.dropdown-menu {
	font-size: 11px;
}

.dropdown-menu li a {
    text-decoration: none;
}

.container-fluid {
	padding-right: 14px !important;
}

@media (max-width: 979px) and (min-width: 768px) {
	html,
	body {
		padding-top: 0;
		padding-left: 0 !important;
	}
}

@media (max-width: 767px) {
	html,
	body {
		padding-top: 0;
		padding-left: 0 !important;
		padding-right: 0 !important;
	}

	.toolbar-right {
		display: none !important;
	}

	.container-fluid {
		padding-left: 20px !important;
		padding-right: 10px !important;
	}
}

table {
	background-color: #FFF;
}

.navbar-typo3-top {
	background-color: #585858;
	height: 27px;
	color: #fff;
}

.navbar-typo3-bottom {
	background-color: #DADADA;
	height: 22px;
}

.typo3-dblist {
    border: 1px solid #dddddd;
}

.typo3-dblist th, td {
    border-left: 1px solid #dddddd;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child,
.table-bordered {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.toolbar-right {
	text-align: right;
}

input[type="text"] {
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
}

.centered {
	position: fixed;
	top: 50px;
	z-index: 100;
	left: 50%;
}

.dropdown-menu {
	text-align: left;
	width: 250px;
	color: #000;
}

.dropdown-menu label {
	padding-left: 25px;
}

table .thumbnail {
	display: block;
	margin: 0px auto;
}

.center {
	text-align: center;
}

#container-main {
	padding-left: 15px;
}

/* Wrapper for page content to push down footer */
#container-main,
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	/* Negative indent footer by it's height */
	margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
.footer {
	height: 60px;
}

.footer {
	background-color: #f5f5f5;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
	.footer {
		margin-left: -20px;
		margin-right: -20px;
		padding-left: 20px;
		padding-right: 20px;
	}
}

.footer-container {
	margin: 20px 0;
	color: #999;
}

.text-light {
	color: #999;
	font-size: 10pt;
}

.container-thumbnail {
	padding-left: 10px;
}

.thumbnail {
    border-radius: 0;
    -webkit-border-radius: 0;
}

.btn-doc-header {
	padding: 0 4px 2px 4px;
	margin: 2px 0 !important;
}
.form-upload .control-group {
	margin-bottom: 0;
}

.container-width {
	text-align: center;
}

.container-height {
	position: relative;
	float: right;
	left: 35px;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	writing-mode: lr-tb;
}

.table tbody tr.fade-in td {
	background: rgba(255, 151, 36, 0.20) !important;
	transition: background .25s ease-in-out;
}

.table tbody tr.fade-out td {
	background: transparent !important;
	transition: background .25s ease-in-out;
}

.text-light {
	font-size: 8pt;
}

.popover-content {
	text-align: center;
}

.icon-loading {
	position: relative;
	bottom: 5px;
}

/* Hide by default the search bar from DataTables which is replaced by VisualSearch */
input[aria-controls=content-list] {
	display: none;
}

/* Datatables */

.table tbody tr.active td, .table tbody tr.active th {
    background-color: #dfdfdf;
    color: #333;
}

.table-striped tbody tr.active:nth-child(odd) td, .table-striped tbody tr.active:nth-child(odd) th {
    background-color: #dfdfdf;
    color: #333;
}

.dataTables_paginate li a {
    color: #000;
}

.dataTables_paginate li.disabled a {
    color: #ccc;
}

/* Form Elements */
input,button,select,textarea{
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}


/* Buttons */
.btn-group>.btn,
.btn {
    border-radius: 2px;
    cursor: pointer;
    white-space: nowrap;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    text-decoration: none!important;
    font-size: 12px;
}

/* VisualSearch */
.VS-search .VS-search-box {
    border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.VS-interface, .VS-search .dialog, .VS-search input {
    font-family: Verdana,Arial,Helvetica,sans-serif !important;
}

.VS-search .search_facet.is_selected {
    border-radius: 4px;
    -webkit-border-radius: 4px;
}

/* Hide border of fields in VisualSearch */
.visual-search-container textarea:focus,
.visual-search-container input:focus {
	box-shadow: none !important;
}

.navbar-typo3-top .row-fluid [class*="span"] {
	min-height: 27px;
}

.navbar-typo3-bottom .row-fluid [class*="span"] {
	min-height: 22px;
}

.mass-edit {
	position: relative;
	bottom: 3px;
}

.accordion-heading .accordion-toggle {
	padding: 8px 0;
}

.accordion-group {
	border: 0px solid #E5E5E5;
}

#form-edit .radio {
	width: 180px;
}

td form {
	display: inline;
}
