/*
 * DataTables styles
 */
.tooltip-inner {
    max-width: none;
    white-space: nowrap;
}

.table tbody tr.fade-in td {
    background: rgba(255, 151, 36, 0.20) !important;
    transition: background .25s ease-in-out;
}

.table tbody tr.fade-out td {
    background: transparent !important;
    transition: background .25s ease-in-out;
}

/*
 * Dropdown menu to hide / show fields
 */
.dropdown-menu label {
    padding-left: 25px;
}

.dropdown-fields {
    margin-left: 5px;
    float: left;
}

.dropdown-fields .checkbox {
    margin-bottom: 6px;
}

.dropdown-fields input[type="checkbox"] {
    margin-top: 6px;
}

.row-top {
    margin-bottom: 15px;
}

/*
 * Menu length Datatable
 */
@media (min-width: 767px) {
    .col-menu-length {
        text-align: right;
    }
}

/* Hide by default the search bar from DataTables which is replaced by VisualSearch */
.col-search {
    display: none !important;
}

.col-menu-length select {
    min-width: inherit;
}

/*
 * Selection
 */
#selection-list {
    margin-left: 3px;
}

#btn-selection-expand-list {
    height: 30px;
    padding-right: 2px;
    padding-left: 2px;
}

#menu-selection-list {
    left: auto;
    right: 0;
}