<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">

	<div class="module-docheader t3js-module-docheader">
		<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
			<div class="module-docheader-bar-column-left">
			</div>
			<div class="module-docheader-bar-column-right">
			</div>
		</div>
		<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
			<div class="module-docheader-bar-column-left" style="height: 16px">
				<f:format.raw>
					<v:link.back/>
				</f:format.raw>
			</div>
			<div class="module-docheader-bar-column-right">
			</div>
		</div>
	</div>

	<div class="module-body t3js-module-body">
		{result -> f:format.raw()}
	</div>

</f:section>
</html>

