<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/fluid/ViewHelpers"
     xmlns:v="http://typo3.org/ns/TYPO3/CMS/vidi/ViewHelpers">

	<f:section name="Text">

		<label>{v:tca.label(dataType: '{dataType}', fieldName: '{fieldName}')}</label>
		<f:form.textfield name="content[{fieldName}]" style="width: 100%"/>

		<div class="accordion" id="accordion2">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a class="accordion-toggle" href="#collapseOne" onclick="$('#collapseOne').toggle(); return false;">
						<span class="icon-chevron-down"></span>Available expressions
					</a>
				</div>
				<div id="collapseOne" class="accordion-body" style="display: none">
					<div class="accordion-inner">

						<![CDATA[
						<p class="help-block" style="margin-top: 10px">
							Expressions that can be used to replace content:
						</p>
						<ul class="help-block">
							<li>
								<strong>{*}</strong> symbolise the current content
							</li>
							<li>
								<strong>{counter}</strong> counter when looping around the records
							</li>
							<li>
								<strong>{date}</strong> date of day
							</li>
							<li>
								<strong>{creation_date}</strong> creation date of the record - if available.
							</li>
							<li>
								<strong>s/search me/replace me/</strong> expression to find and replace.
							</li>
						</ul>

						<div class="help-block">
							Expressions can be combined as example:<br>
							{counter} - {*} followed by a sample word
						</div>
						]]>

					</div>
				</div>
			</div>
		</div>

	</f:section>
</div>
