<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"
      xmlns:v="http://typo3.org/ns/Fab/Vidi/ViewHelpers">

<f:layout name="Default"/>

<f:section name="main">
	<style>

		.dropdown-menu {
			background-color: #EDEDED;
			color: #0c0c0c;
		}
		.dropdown-menu > li > a:hover {
			background-color: #FAFAFA;

		}
		.dropdown-menu > li > a {
			color: #000 !important;
		}
	</style>
	<div id="navbar-main" class="module-docheader t3js-module-docheader">
		<div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation" style="height: 16px">
			<div class="module-docheader-bar-column-left">
				{v:render.components(part: 'docHeaderTopLeft') -> f:format.raw()}
			</div>
			<div class="module-docheader-bar-column-right">
				{v:render.components(part: 'docHeaderTopRight') -> f:format.raw()}
			</div>
		</div>
		<div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: 16px">
			<div class="module-docheader-bar-column-left" >
				{v:render.components(part: 'docHeaderBottomLeft') -> f:format.raw()}
			</div>
			<div class="module-docheader-bar-column-right">

				<div class="btn-toolbar " role="toolbar" aria-label="">

					<a href="#" class="btn btn-default btn-sm btn-reload" title="{f:translate(key:'reload_data')}">
						<f:format.raw>
							<v:sprite name="actions-refresh"/>
						</f:format.raw>
					</a>

					<div class="dropdown dropdown-fields pull-right" title="{f:translate(key:'show_hide_columns')}">
						<a class="btn btn-default btn-sm dropdown-toggle" data-bs-toggle="dropdown" href="#" style="position: relative; bottom: 1px"></a>
						<ul class="dropdown-menu" style="max-height: 800px; overflow-y: scroll;">
							<f:for each="{columns}" key="columnName" as="configuration" iteration="iterator">
								<li class="checkbox">
									<f:if condition="{v:grid.column.canBeHidden(name: '{columnName}')}">
										<label>
											<f:if condition="{v:grid.column.isVisible(name: '{columnName}')}">
												<f:then>
													<input class="check-visible-toggle" type="checkbox" name=""
													       value="{iterator.index}"
													       checked="checked"/>
												</f:then>
												<f:else>
													<input class="check-visible-toggle" type="checkbox" name=""
													       value="{iterator.index}"/>
												</f:else>
											</f:if>
											<f:format.raw>
												<v:grid.column.title/>
											</f:format.raw>
										</label>
									</f:if>
								</li>
							</f:for>
						</ul>
					</div>
				</div>

				{v:render.components(part: 'docHeaderBottomRight') -> f:format.raw()}
			</div>
		</div>
	</div>

	<div id="navbar-sub" class="ajax-response-header module-docheader t3js-module-docheader" style="display: none"></div>

	<f:flashMessages/>

	<div class="module-body t3js-module-body">

		<div id="container-main-top">
		     {v:render.components(part: 'gridTop') -> f:format.raw()}

			<div style="display: none">

				<f:link.action id="link-auto-suggest" controller="Facet" action="autoSuggest" format="json"/>
				<f:link.action id="link-auto-suggests" controller="Facet" action="autoSuggests" format="json"/>
				<input type="hidden" id="ajax-additional-parameters"/>

				<f:link.action
						id="link-selection-list"
						controller="Selection"
						action="list"
						arguments="{dataType: '{v:moduleLoader(key: \'dataType\')}'}"/>

				<f:link.action
						id="link-selection-edit"
						controller="Selection"
						action="edit"
						arguments="{dataType: '{v:moduleLoader(key: \'dataType\')}'}"/>

				<f:link.action
						id="link-facet-suggest"
						controller="Facet"
						action="suggest"
						format="json"/>


				<f:link.action
						id="link-user-preferences"
						controller="UserPreferences"
						action="save"
						arguments="{preferenceSignature: '{v:modulePreferences(key: \'signature\')}'}"/>
			</div>

			<table class="table table-striped table-hover typo3-extension-list dataTable"
			       id="content-list">
				<thead>
				<tr class="t3-row-header">
					<f:for each="{columns}" key="columnName" as="configuration">
						<th>
							<f:if condition="{v:grid.column.header(name: '{columnName}')}">
								<f:then>
									<f:format.raw>{v:grid.column.header(name: '{columnName}')}</f:format.raw>
								</f:then>
								<f:else>
									<f:format.raw>
										<v:grid.column.title/>
									</f:format.raw>
								</f:else>
							</f:if>
						</th>
					</f:for>
				</tr>
				</thead>
				<tbody/>
				<tfoot>
				<tr>
					<th colspan="{numberOfColumns}">
						<div class="dropup">
							<a class="btn btn-default btn-sm dropdown-toggle mass-action-label"
							   data-bs-toggle="dropdown"
							   href="#"
							   onclick="return false"
							   aria-haspopup="true"
							   aria-expanded="false">
								[mass action label]
							</a>
							<ul class="dropdown-menu mass-action-items" style="">
								{v:render.components(part: 'menuMassAction') -> f:format.raw()}
							</ul>
						</div>
					</th>
				</tr>
				</tfoot>
			</table>
			{v:render.components(part: 'gridBottom') -> f:format.raw()}
		</div>
		<div id="container-main-sub" class="ajax-response-body" style="display: none">
			<div class="container" style="text-align: center">
				<f:image src="{f:uri.resource(path:'Images/loading.gif')}" alt=""/>
			</div>
		</div>
	</div>


	<div id="footer" class="ajax-response-footer"></div>

</f:section>
</html>
